<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AzureCalling.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
				<key>dateExpires</key>
				<string>16/12/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationCalling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCommunicationUICalling.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AzureCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FluentUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AEC72AC4F3ECBE2C3464AB366CC83D731DD449A3</string>
						<key>dateExpires</key>
						<string>16/12/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SE4E5N4D92</string>
						<key>name</key>
						<string>Alexander Alegrid</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SE4E5N4D92.com.alxwebworks.azurecalling</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SE4E5N4D92</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SE4E5N4D92.com.microsoft.adalcache</string>
				</array>
			</dict>
			<key>name</key>
			<string>AzureCalling.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22922074-ab89-4475-9785-26e21231fd9a</string>
				<key>dateExpires</key>
				<string>16/12/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.alxwebworks.azurecalling</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SE4E5N4D92</string>
				<key>name</key>
				<string>Alexander Alegrid</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
